{% extends 'glowny.html' %}

{% block tytul %} List filmów {% endblock %}

{% block strona %}
    {% if user.is_authenticated %}
        Witaj {{ user.username }}<br>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <hr>

    <a href="{% url 'nowy_film' %}">Nowy film</a>

    {% if filmy|length == 0 %}
        <h2>Brak filmów</h2>
    {% else %}
        <h2>Ilość fimów w BD: {{ filmy|length }}</h2>

        {% for film in filmy %}
            <h3>{{ film }}</h3>
            <p>{{ film.opis }}</p>
            <a href="{% url 'edytuj_film' film.id %}">Edytuj</a>
            <a href="{% url 'usun_film' film.id %}">Usuń</a>
        {% endfor %}
    {% endif %}
 {% endblock %}
